body {
	background: url("./images/AMountainCool.JPG") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.text {
        text-align: center;
}

